/* Mobiles: */
/* *{
    outline: 1px solid red;
} */

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

icon{
    font-size: 1.5rem;
    padding-right: 1.2rem;
}

.lang_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4%;
    font-size: 1rem;
}

.lang_stars{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.stars_wording{
    font-weight: 500;
    padding-bottom: 1.3rem;
}

.text_heading{
    font-weight: 700;
    color:darkslategrey
}

.covered_bullet{
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 2%;
}

li span {
    position: relative;
    left: -5px;
  }

@media screen and (min-width:1024px) {
    .grid {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .lang_body{
        background-color: white;
        border-left: 100px;
        border-color: lightgrey;
        padding: 1rem;
    }
}