.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lang_list{
    text-align: center;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
}

h2{
    padding: 0.5rem;
    /* TODO: Make the below on click: */
    /* border-bottom: 0.2rem solid grey; */
}

.lang_items{
    display: none;
}

