.nav_container{
    display: flex;
    flex-direction: column;
    position: relative; 
}
/* Menu icon not clicked */
.menu{
    display: none;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: absolute;
    z-index: 99999;
}
/* Menu icon clicked */
.menu.active{
    display: block;
}

.menu_items{
    padding: 0.5rem 0;
}

.logo{
    margin: 1rem;
    font-size: 1rem;
}

.toggle{
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.6rem;
    margin-right: 1rem;
}

@media screen and (min-width:1024px) {
    .header_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav_container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu{
        display: flex;
        position: static;
        flex-direction: row;
        font-size: 1.2rem;
        width: 70%;
    }

    .menu_items{
        padding: 0 2rem;
    }

    .logo{
        width: 30%;
    }

    .toggle{
        display: none;
    }
}